body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.selected {
  border: solid 1px black;
  padding: 0.5rem;
}